Name: iPhone X Theme
Package: com.masond3v.iphonextheme
Conflicts: com.105120.11element-, com.105120.11elementp
Priority: optional
Depends: firmware (>= 7.0), com.anemonetheming.anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Bring the experience of iPhone X to your iDevice.
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iphonexthemeDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iphonexthemeDp
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: MasonD3V <masond3v@protonmail.com>
Section: Themes
Tag: compatible::ios8, compatible::ios9, compatible::ios10
Installed-Size: 511
dev: masond3v
